.container {
    margin-top: 5.5rem;
    background-color: #fd9effa2;
    padding: 1.5rem;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    display: flex;
    width: 32rem;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-self: stretch;

    color: #000;

    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 1.4rem;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 2rem;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.image {
    width: 115px;
    height: 115px;
    border-radius: 10px;
}

.Nombre {
    display: flex;
    width: 32rem;
    height: 3.5rem;
    gap: 0.4rem;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0.25rem 0.25rem 0rem 0rem;
}

.name {
    display: flex;
    align-items: center;
    position: relative;
}

.textbox {
    display: flex;
    width: 60%;
    height: 3rem;
    background-color: #FEC1FF;
    border-color: #000;
    border-width: 0.1rem;
    border-radius: 0.5rem;
}

.E {
    width: 240%;
    height: 1.55rem;
}

.buttons-box {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 15rem;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    justify-content: center;
}

.add-btn {
    background-color: #FEC1FF;
    border: 2px solid #000;
}

.close-btn {
    background-color: #000;
    color: #fff;
}