<div class="main-frame">
    <div class="buttons-box" >
      <button class="add-btn" >Añadir Agencia</button>
      <button class="close-btn">Cerrar</button>
    </div>
    <div class="title">Añadir Agencia</div>
    <div class="top-line"></div>
    <div class="bottom-line"></div>
    <img class="image" src="../../assets/img/agency.jpg"/>
    <div class="name">Nombre</div>
    <div class="email">Correo electrónico</div>
    <div class="fax" >Fax</div>
    <div class="address">Dirección</div>
    <input class="name-textbox" type="text" name="nombre">
    <input class="email-textbox" type="text" name="correo">
    <input class="fax-textbox" type="text" name="fax">
    <input class="address-textbox" type="text" name="Dirección">
    
  </div>
