<div class="HomePaqueteMain">
    <div class="superblock">
        <div class="Titles">
            <div class="Titles2">
                <h1 class="h1Nor">Plan your perfect package</h1>
                <h2 class="h2Nor">Search Flights & Places Hire to our most popular destinations</h2>
            </div>
            <button class="button" routerLink="../package">See more packages</button>
        </div>
        <div class="HomePaquete">
            <div class="block" *ngFor="let item of products| slice:0:2">
                <img src="../../../assets/img/Avion costa.jpeg" alt="">
                <div class="body">
                    <div class="rectangle"></div>
                    <div class="body2">
                        <div class="texts">
                            <h1 class="h1Esp">{{item.description}}</h1>
                            <h2 class="h2Esp">Duration: {{item.duration}} min</h2>
                            <h2 class="h2Esp">Price: ${{item.price}}</h2>
                        </div>
                        <button class="button" routerLink="../package/booking">Show Package</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>