<div class="main-frame">
    <div class="buttons-box" >
      <button class="add-btn" >Añadir Hotel</button>
      <button class="close-btn">Cerrar</button>
    </div>
    <div class="title">Añadir Hotel</div>
    <div class="top-line"></div>
    <div class="bottom-line"></div>
    <img class="image" src="../../assets/img/hotel.jpg"/>
    <div class="name">Nombre</div>
    <div class="category">Category</div>

    <div class="address">Dirección</div>
    <input class="name-textbox" type="text" name="Nombre">
    <input class="category-textbox" type="text" name="Categoría">
    <input class="address-textbox" type="text" name="Dirección">
    
  </div>
