<div class="header-default">
    <div class="header-main">
        <div class="offers-btns">
            <div class="package">
                <div class="package-icon">
                    <img class="airplane" src="../../assets/airplane.svg">
                </div>
                <div class="hotel-text">Paquetes</div>
            </div>
            <div class="hotel">
                <div class="hotel-icon">
                    <img class="bed" src="../../assets/ion_bed.svg">
                </div>
                <div class="hotel-text" routerLink="../hotel">Alojamientos</div>
            </div>
            <div class="excursion">
                <div class="excursion-icon">
                    <img class="bicycle" src="../../assets/Property 1=ion_bicycle.svg">
                </div>
                <div class="hotel-text" routerLink="../excursion">Excursiones</div>
            </div>
        </div>
        <div class="logo">
            <h1 class="logo-img" routerLink="../home"> Travelette</h1>
        </div>
    </div>
    <div class="header-btns">
        <p class="package-text">User ID: {{ id }}</p>
    </div>
</div>