<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<div class="main-frame">
    <div class="title-frame">
        <div class="title-text">
            <div class="title-name">
                {{hotelName}}                
                <div class="stars">
                    <!-- <img src="../../assets/Star.svg" />
                    <img src="../../assets/Star.svg" />
                    <img src="../../assets/Star.svg" />
                    <img src="../../assets/Star.svg" />
                    <img src="../../assets/Star.svg" /> -->
                </div>
            </div>
            <div class="title-details">
                <div class="location">
                    <img src="../../assets/Location.svg" />
                    <div class="location-text">{{hotelAddress}}</div>
                </div>
            </div>
        </div>
        <div class="price_and_booking">
            <p>
                <!-- <span class="price_number">$300</span><span class="night">/night</span> -->
            </p>
            <div class="booking-btns">
                <!-- <button class="booking-btn">Buy Now</button> -->
            </div>
        </div>
    </div>
    <div class="img-box">
        <img class="img1" src="../../assets/hotelroom1.png" />
        <div class="img-box2">
            <div class="img-box3">
                <img class="img2" src="../../assets/hotelroom2.png" />
                <img class="img3" src="../../assets/hotelroom3.png" />
            </div>
            <div class="img-box4">
                <img class="img4" src="../../assets/hotelroom4.png" />
                <img class="img5" src="../../assets/hotelroom5.png" />
            </div>
        </div>
    </div>
    <div class="info-frame">
        <!-- <hr class="" /> -->
        <div class="overview_and_amenities">
            <div class="overview-box">
                <div class="overview-title">Category</div>
                <div class="overview-text">
                    {{hotelCategory}}
                </div>
            </div>
            <!-- <div class="amenities-box">
                <div class="amenitie">
                    <div class="amenitie-interior">
                        <img class="stardust" src="../../assets/Stars.svg" />
                        <div class="amenitie-text">Nearby Parking</div>
                    </div>
                </div>
                <div class="amenitie">
                    <div class="amenitie-interior">
                        <img class="stardust" src="../../assets/Stars.svg" />
                        <div class="amenitie-text">Nearby Nightclub</div>
                    </div>
                </div>
                <div class="amenitie">
                    <div class="amenitie-interior">
                        <img class="stardust" src="../../assets/Stars.svg" />
                        <div class="amenitie-text">Nearby Theater</div>
                    </div>
                </div>
                <div class="amenitie">
                    <div class="amenitie-interior">
                        <img class="stardust" src="../../assets/Stars.svg" />
                        <div class="amenitie-text">Swimming Pool</div>
                    </div>
                </div>
            </div> -->
            <hr class="">
            <div class="availablerooms-box">
                <div class="availablerooms-title">
                    Available Offers
                </div>
                <div class="availablerooms-table" *ngFor="let item of products | slice:0:4">
                    <div class="availableroom" >
                        <div class="room-info">
                            <img class="room-foto" src="../../assets/room1.png">
                            <div class="room-text">{{item.description}}</div>
                        </div>
                        <div class="room-booking">
                            <p> <span class="room-price">${{item.price}}</span> <span class="room-night">/night</span> </p>
                            <button class="room-book-btn">Buy Now</button>
                        </div>
                    </div>
                    <hr class="line2">
                </div>
            </div>
        </div>
    </div>
</div>