<div class="HomeExcursion">
    <div class="Titles">
        <div class="Titles2">
            <h1>Plan your perfect trip</h1>
            <h2>Search Flights & Places Hire to our most popular destinations</h2>
        </div>
        <button class="button" routerLink="../excursion">See more places</button>
    </div>
    <div class="Body">
        <div class="block">
            <div class="Rectangle">
                <div class="blockImg">
                    <img src="../../assets/img/agency.jpg" alt="agecia1">
                </div>
                <div class="blockText">
                    <p class="agencyName" id="AgNa1">Istanbul, Turkey</p>
                    <div class="details">
                        <p class="detail">Flights</p>
                        <p class="detail separator">•</p>
                        <p class="detail">Hotels</p>
                        <p class="detail separator">•</p>
                        <p class="detail">Resorts</p>
                    </div>
                </div>
            </div>
            <div class="Rectangle">
                <div class="blockImg">
                    <img src="../../assets/img/agency.jpg" alt="agecia2">
                </div>
                <div class="blockText">
                    <p class="agencyName" id="AgNa1">Istanbul, Turkey</p>
                    <div class="details">
                        <p class="detail"></p>
                        <p class="detail separator"></p>
                        <p class="detail"></p>
                        <p class="detail separator"></p>
                        <p class="detail"></p>
                    </div>
                </div>
            </div>
            <div class="Rectangle">
                <div class="blockImg">
                    <img src="../../assets/img/agency.jpg" alt="agecia3">
                </div>
                <div class="blockText">
                    <p class="agencyName" id="AgNa1">Istanbul, Turkey</p>
                    <div class="details">
                        <p class="detail"></p>
                        <p class="detail separator"></p>
                        <p class="detail"></p>
                        <p class="detail separator"></p>
                        <p class="detail"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="Rectangle">
                <div class="blockImg">
                    <img src="../../assets/img/agency.jpg" alt="agecia4">
                </div>
                <div class="blockText">
                    <p class="agencyName" id="AgNa1">Istanbul, Turkey</p>
                    <div class="details">
                        <p class="detail"></p>
                        <p class="detail separator"></p>
                        <p class="detail"></p>
                        <p class="detail separator"></p>
                        <p class="detail"></p>
                    </div>
                </div>
            </div>
            <div class="Rectangle">
                <div class="blockImg">
                    <img src="../../assets/img/agency.jpg" alt="agecia5">
                </div>
                <div class="blockText">
                    <p class="agencyName" id="AgNa1">Istanbul, Turkey</p>
                    <div class="details">
                        <p class="detail"></p>
                        <p class="detail separator"></p>
                        <p class="detail"></p>
                        <p class="detail separator"></p>
                        <p class="detail"></p>
                    </div>
                </div>
            </div>
            <div class="Rectangle">
                <div class="blockImg">
                    <img src="../../assets/img/agency.jpg" alt="agecia6">
                </div>
                <div class="blockText">
                    <p class="agencyName" id="AgNa1">Istanbul, Turkey</p>
                    <div class="details">
                        <p class="detail"></p>
                        <p class="detail separator"></p>
                        <p class="detail"></p>
                        <p class="detail separator"></p>
                        <p class="detail"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="Rectangle">
                <div class="blockImg">
                    <img src="../../assets/img/agency.jpg" alt="agecia7">
                </div>
                <div class="blockText">
                    <p class="agencyName" id="AgNa1">Istanbul, Turkey</p>
                    <div class="details">
                        <p class="detail"></p>
                        <p class="detail separator"></p>
                        <p class="detail"></p>
                        <p class="detail separator"></p>
                        <p class="detail"></p>
                    </div>
                </div>
            </div>
            <div class="Rectangle">
                <div class="blockImg">
                    <img src="../../assets/img/agency.jpg" alt="agecia8">
                </div>
                <div class="blockText">
                    <p class="agencyName" id="AgNa1">Istanbul, Turkey</p>
                    <div class="details">
                        <p class="detail"></p>
                        <p class="detail separator"></p>
                        <p class="detail"></p>
                        <p class="detail separator"></p>
                        <p class="detail"></p>
                    </div>
                </div>
            </div>
            <div class="Rectangle">
                <div class="blockImg">
                    <img src="../../assets/img/agency.jpg" alt="agecia9">
                </div>
                <div class="blockText">
                    <p class="agencyName" id="AgNa1">Istanbul, Turkey</p>
                    <div class="details">
                        <p class="detail"></p>
                        <p class="detail separator"></p>
                        <p class="detail"></p>
                        <p class="detail separator"></p>
                        <p class="detail"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>