<div class="main-frame">
    <div class="category-bar">
        <button class="hotel-btn">Hoteles</button>
        <div class="line1"></div>
        <button class="motel-btn">Moteles</button>
        <div class="line2"></div>
        <button class="resort-btn">Resorts</button>
    </div>
    <div class="offers-list">
        <div class="rectangle1">
            <img class="rectangle1-img" src="../../assets/img/Hotel.webp">
            <div class="rectangle1-main">
                <div class="rectangle1-content">
                    <div class="rectangle1-text">
                        <div class="rectangle1-title">Hotel numero 1</div>
                        <div class="rectangle1-info">Poner algo de info aqui</div>
                    </div>
                    <div class="rectangle1-price-box">
                        <div class="rectangle1-price-text">$500</div>
                    </div>
                </div>
                <div class="rectangle1-line"></div>
                <button class="rectangle1-btn">Ver lugar</button>
            </div>  
        </div>
        <div class="rectangle1">
            <img class="rectangle1-img" src="../../assets/img/Hotel.webp">
            <div class="rectangle1-main">
                <div class="rectangle1-content">
                    <div class="rectangle1-text">
                        <div class="rectangle1-title">Hotel numero 2</div>
                        <div class="rectangle1-info">Poner algo de info aqui</div>
                    </div>
                    <div class="rectangle1-price-box">
                        <div class="rectangle1-price-text">$500</div>
                    </div>
                </div>
                <div class="rectangle1-line"></div>
                <button class="rectangle1-btn">Ver lugar</button>
            </div>  
        </div>
        <div class="rectangle1">
            <img class="rectangle1-img" src="../../assets/img/Hotel.webp">
            <div class="rectangle1-main">
                <div class="rectangle1-content">
                    <div class="rectangle1-text">
                        <div class="rectangle1-title">Hotel numero 3</div>
                        <div class="rectangle1-info">Poner algo de info aqui</div>
                    </div>
                    <div class="rectangle1-price-box">
                        <div class="rectangle1-price-text">$500</div>
                    </div>
                </div>
                <div class="rectangle1-line"></div>
                <button class="rectangle1-btn">Ver lugar</button>
            </div>  
        </div>
        <div class="rectangle1">
            <img class="rectangle1-img" src="../../assets/img/Hotel.webp">
            <div class="rectangle1-main">
                <div class="rectangle1-content">
                    <div class="rectangle1-text">
                        <div class="rectangle1-title">Hotel numero 4</div>
                        <div class="rectangle1-info">Poner algo de info aqui</div>
                    </div>
                    <div class="rectangle1-price-box">
                        <div class="rectangle1-price-text">$500</div>
                    </div>
                </div>
                <div class="rectangle1-line"></div>
                <button class="rectangle1-btn">Ver lugar</button>
            </div>  
        </div>
    </div>
</div>