<div class="homeOferta">
    <div class="titles">
        <div class="titles2">
            <h1>Fall into travel</h1>
            <h3>Going somewhere to celebrate this season? Whether you’re going home or somewhere to roam, we’ve got the travel tools to get you to your destination.</h3>
        </div>
        <button class="button">See all</button>
    </div>
    <div class="body">
        <div class="block">
            <img src="../../assets/img/HotelPiscina.png" alt="hotel1">
            <div class="info">
                <div class="textInfo">
                    <div class="texts">
                        <h2>La Habana</h2>
                        <h4>An amazing journey</h4>
                    </div>
                    <h2>$ 700</h2>
                </div>
                <button class="oferta">Book Hotel</button>
            </div>
        </div>
        <div class="block">
            <img src="../../../assets/img/hotel-image.jpg" alt="hotel1">
            <div class="info">
                <div class="textInfo">
                    <div class="texts">
                        <h2>La Habana</h2>
                        <h4>An amazing journey</h4>
                    </div>
                    <h2>$ 700</h2>
                </div>
                <button class="oferta">Book Hotel</button>
            </div>
        </div>
        <div class="block">
            <img src="../../../assets/img/Hotel.webp" alt="hotel1">
            <div class="info">
                <div class="textInfo">
                    <div class="texts">
                        <h2>Villa Clara</h2>
                        <h4>An amazing journey</h4>
                    </div>
                    <h2>$ 700</h2>
                </div>
                <button class="oferta">Book Hotel</button>
            </div>
        </div>
        <div class="block">
            <img src="../../../assets/hotelroom1.png" alt="hotel1">
            <div class="info">
                <div class="textInfo">
                    <div class="texts">
                        <h2>Varadero</h2>
                        <h4>An amazing journey</h4>
                    </div>
                    <h2>$ 700</h2>
                </div>
                <button class="oferta">Book Hotel</button>
            </div>
        </div>
    </div>
</div>
